<div class="container" ng-controller="TemplateTask as tmplt">

	<div class="row">
			<div class="col-sm-12 col-md-8 col-md-offset-2">

				<h3>Create Template<span ng-if="formCount>1">s</span></h3>

					<form method="post" class="form-sigin" name="tmpltForm" ng-submit='tmplt.createTemplate()' ng-repeat="i in counter(formCount) track by $index">
						<h4>Template {{$index+1}}</h4>
						<div class="form-group" ng-show="$first">
						    <label for="operation">Operation:</label>
						    <select ng-model="tmplt.tmpltData[$index].operation_id" id="operation" class="form-control">
						    	<option value="select">Select</option>
						    </select>
						 </div>

						<div class="form-group">
						    <label for="title">Title:</label>
						    <input type="text" class="form-control" id="title" ng-model="tmplt.tmpltData[$index].title"  required>
						 </div>

						<div class="form-group">
						    <label for="title">URL Path:</label>
						    <input type="text" class="form-control" id="title" ng-model="tmplt.tmpltData[$index].path"  required>
						 </div>

						<fieldset class="" data-ng-repeat="choice in choices[$index]">
							<div class="form-group col-sm-6">
					      		<input type="text" class="form-control " ng-model="choice.key" name="" placeholder="key {{$index+1}}" required>
					      	</div>
					      	
					      	<div class="form-group col-sm-6">
					      		<input type="text" class="form-control col-sm-11" ng-model="choice.name" name="" placeholder="value {{$index+1}}" required>
					      	</div>
					      	
					      	<div class="form-group">
					      		<a class="btn btn-success" ng-show="$last" ng-click="addNewChoice($parent.$index)">+</a>
					      		<a class="remove btn btn-danger" ng-if="choices[$parent.$index].length>1" ng-show="$last" ng-click="removeChoice($parent.$parent.$index)">-</a>
					      	</div>
					      	
					   </fieldset>
					   
					   <a ng-if="choices[$index].length==0" class="btn btn-success"  ng-click="addNewChoice($parent.$index)">+</a>
					       
					   <!-- <div id="choicesDisplay">
					      {{ choices }}
					   </div> -->

						<!-- Username: <input type="text" class="form-control" name="username" ng-model="tmplt.tmpltData.username" />

						Password: <input type="password" class="form-control" name="password" ng-model="tmplt.tmpltData.password" /> -->

						<button ng-show="$last" ng-disabled="tmpltForm.$idirty || tmpltForm.$invalid" type="submit" class="btn btn-success">CREATE </button>

						<a ng-show="$last" href="javascript:void(0)" ng-click="increaseFormCount('plus', $index+1)" class="btn btn-primary">+ TEMPLATE</a>
						<a ng-show="$last" ng-if="formCount > 1" href="javascript:void(0)" ng-click="increaseFormCount('minus')" class="btn btn-danger">- TEMPLATE</a>
						
					</form>
			</div>
		</div>

</div>