<div class="container" ng-controller="ApplicationTask as app">

	<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">

				<h3>Create Application</h3>

					<form method="post" class="form-sigin" name="appForm" ng-submit='app.createApplication()'>

						<div class="form-group">
						    <label for="title">Title:</label>
						    <input type="text" class="form-control" id="title" ng-model="app.appData.title"  required>
						 </div>

						<!-- Username: <input type="text" class="form-control" name="username" ng-model="app.appData.username" />

						Password: <input type="password" class="form-control" name="password" ng-model="app.appData.password" /> -->

						<button ng-disabled="appForm.$idirty || appForm.$invalid" type="submit" class="btn btn-primary">CREATE </button>
						
					</form>
			</div>
		</div>

</div>